<% provide(:title, "About")%>
<!DOCTIPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      <a href="https://railstutorial.jp/help">Rails tutorial</a>
      is a <a href="https://railstutorial.jp/#ebook">book</a> and
      <a href="https://railstutorial.jp/#screencast">screencast</a>
      to teach web development with
      <a href="http://rubyonrails.org">Ruby on Rails</a>
      this is the sample application for the tutorial.
    </p>
  </body>
</html>
