<% provide(:title,"Help") %>
<!DOCTIPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Get help on the Ruby on Rails Tutotial at the 
      <a href="https://railstutorial.jp/help">Rails tutorial help page</a>
      To get help on this sample app, see the
      <a href="https://railstutorial.jp/#ebook">
      <em>Ruby on Rails Tutotial</em>book</a>
    </p>
  </body>
</html>
